/* ----------------------- dark/mode -----------------------*/
nav .switchers-container {
  z-index: 3;
  display: flex;
  flex-direction: row;
  align-items: center;
}

nav .switchers-container .darkmode-container {
  display: flex;
  margin: 1em;
  max-width: fit-content;
  position: relative;
}

/* crear el contenedor del check */
nav .switchers-container .darkmode-container label {
  width: 4rem;
  height: 1.5rem;
  display: block;
  background: var(--darkmodetoggle);
  border-radius: 200px;
  box-shadow: inset 0px 5px 15px rgb(127 127 127 / 40%),
    inset 0px -5px 15px rgb(237 237 237 / 40%);
  cursor: pointer;
  transition: 0.3s; /* para la animacion */
}

/* icons */
nav .switchers-container .darkmode-container label .sun,
nav .switchers-container .darkmode-container label .moon {
  position: absolute;
  z-index: 1;
}

nav .switchers-container .darkmode-container label .sun img,
nav .switchers-container .darkmode-container label .moon img {
  width: var(--size-switcher);
  height: var(--size-switcher);
}

nav .switchers-container .darkmode-container label .sun {
  display: flex;
  top: 50%;
  transform: translateY(-50%);
  left: 5%;
}

nav .switchers-container .darkmode-container label .moon {
  display: flex;
  top: 50%;
  transform: translateY(-50%);
  right: 5%;
}

/* crear el sol */
nav .switchers-container .darkmode-container label::after {
  content: "";
  width: var(--size-switcher);
  height: var(--size-switcher);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 5%;
  background: linear-gradient(180deg, #ffcc89, #d8860b);
  border-radius: 180px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  transition: 0.3s; /* para la animacion */
}

/* ocultar el input */
nav .switchers-container .darkmode-container input {
  width: 0;
  height: 0;
  visibility: hidden;
}

nav .switchers-container .darkmode-container input:checked + label {
  background: #242424;
}

/* estado para cuando está activado el darkmode */
nav .switchers-container .darkmode-container input:checked + label::after {
  left: 6rem;
  transform: translateX(-320%) translateY(-50%);
  background: linear-gradient(180deg, #b4b4b4, #707070);
}

/* ----------------------- End dark/mode -----------------------*/

/* ----------------------- Switch Language -----------------------*/

nav .switchers-container .language-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

nav .switchers-container .language-container .flag-options {
  position: absolute;
  right: 0;
  background-color: var(--bg-color2);
  border-radius: 8px;
  transform: translateY(6em);
  box-shadow: 0px 0px 1px 0px var(--primary-shadow);
  z-index: 5;
  display: none;
}

nav .switchers-container .language-container .flag-options .en:hover,
nav .switchers-container .language-container .flag-options .es:hover {
  cursor: pointer;
  background-color: var(--bg-hover);
}

nav .switchers-container .language-container .flag-options .en {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

nav .switchers-container .language-container .flag-options .es {
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

nav .switchers-container .language-container:hover {
  cursor: pointer;
}

nav .switchers-container .language-container:hover .flag-options {
  display: block;
}

nav .switchers-container .language-container .flag-options .en {
  width: var(--flag-size);
  height: var(--flag-size);
  padding: 2em 4em;
  background-size: var(--flag-size);
  background: var(--us-flag) no-repeat center/var(--flag-size);
}

nav .switchers-container .language-container .flag-options .es {
  width: var(--flag-size);
  height: var(--flag-size);
  padding: 2em 4em;
  background: var(--es-flag) no-repeat center/var(--flag-size);
}

nav .switchers-container .language-container .flag {
  width: var(--flag-size);
  height: var(--flag-size);
  background: var(--us-flag) no-repeat center;
}

nav .language-container .flag.spain {
  background: var(--es-flag) no-repeat center;
}

/* ----------------------- End Switch Language -----------------------*/

/* hero section */
.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5em;
  /* espacio entre columnas */
  max-width: 75em;
  margin: auto;
}

.hero .about-container {
  position: relative;
}

.hero .about-container img {
  margin-top: 10em;
  margin-bottom: 10em;
  height: 30em;
  width: 45em;
  border-radius: 14px;
}

.bio {
  text-align: center;
  position: absolute;
  background-color: var(--panel);
  bottom: 15%;
  left: 50%;
  transform: translateX(-50%) !important;
  color: var(--primary-color);
  width: 35em;
  padding: 2em;
  border-radius: 6px;
  box-shadow: 0px 2px 15px 2px var(--primary-shadow);
  transition: var(--transition);
}

.bio h1 {
  margin-bottom: var(--bottom-margin);
}

.bio p {
  font-size: 1.5em;
  font-weight: 800;
  letter-spacing: 0.1em;
  line-height: var(--line-height);
  padding: 0.3rem 0;
}

.dark-theme {
  background: var(--panel-dark) !important;
  box-shadow: none !important;
  transition: var(--transition);
}

.dark-theme input:not(.submit-btn), /* todos los input, excepto class=submit-btn */
.dark-theme textarea,
.dark-theme.card-project {
  background: var(--sub-panel-dark) !important;
  border: 0 !important;
}

/* mas sobre mi */
.more-about {
  color: var(--primary-color);
  padding: 1rem 6rem;
  transition: var(--transition);
}

.more-about h2 {
  margin-bottom: 3em;
  text-align: center;
}

.more-about p {
  line-height: var(--line-height);
  padding: 0.4rem;
}

.more-about .about-list {
  max-width: fit-content;
  padding: 3em;
  border-radius: 8px;
}

.more-about .about-list.dark-theme {
  background: var(--sub-panel-dark) !important;
}

.more-about .about-list.m-bottom {
  margin-bottom: 2em;
}

.more-about .about-list ul {
  list-style-type: disc !important;
}

.more-about .link-work {
  color: var(--primary-color-link);
  font-weight: 600;
}

/* seccion skils */
.skils {
  color: var(--primary-color);
  max-width: 68.75rem;
  margin: auto;
  text-align: center;
  transition: var(--transition);
}

.skils .skils-container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  text-align: center;
  gap: 1rem;
}

.skils .skils-container .skil-title {
  font-size: 2em;
  font-weight: 700;
}

.skils .skils-container .skil-panel {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1em;
}

.skils .left {
  left: -25em;
}

.skils .right {
  right: -25em;
}

.skils .skils-container .skils-block-left,
.skils .skils-container .skils-block-right {
  width: 25em;
  height: 13em;
  position: absolute;
  background: var(--bg-color2);
  z-index: 2;
}

.encabezado-habilidad {
  margin-bottom: 1rem;
}

.contenedor-habilidad img {
  padding: 1.25rem;
}

.icon {
  width: 11.875rem;
  height: 11.25rem;
}

.icon-card {
  background-color: #fff;
  border-radius: 11px;
  box-shadow: 0 3px 10px var(--secondary-shadow);
  padding: 20px;
  margin: 10px;
  transition: 1s;
}

.no-transition {
  transition: 0s !important;
}

/* usando la librería animate.css */
.icon-card:hover,
.up-arrow:hover {
  cursor: pointer;
  animation: pulse 1s;
}

/* section project */
.project {
  opacity: 0;
  color: var(--primary-color);
  padding: 32px 0;
  margin-top: 2rem;
  transition: var(--transition);
}

.full_opacity {
  opacity: 1 !important;
}

.project-pic {
  padding: 0.5em;
  height: 13em;
}

.project-pic img {
  box-shadow: 0 3px 10px var(--primary-shadow);
  border-radius: 24px;
  width: 100%;
  height: 100%;
}

.projects-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-title {
  text-align: center;
}

.subproject-title {
  padding: 0.5em;
  text-align: left;
}

.project-container {
  text-align: left;
  width: 25em;
  padding: 1em;
}

.project-container .desc-container {
  height: 10em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.project-container .project-icon-container {
  margin-bottom: 1.5em;
  display: flex;
  gap: 0.75rem;
}

.project-container .project-icon-container img:hover {
  cursor: pointer;
  background-color: var(--tool-color-hover);
}

.project-container .project-icon-container img {
  background-color: var(--tool-color);
  border-radius: 48px;
  padding: 0.5em;
  width: 3em;
  height: 3em;
}

.project-container p {
  padding: 0.4rem;
  line-height: 1.5em;
}

.project-link {
  display: flex;
  text-align: center;
  border-radius: 8px;
  background: var(--btn-color) !important;
}

.project-link:hover {
  background: var(--primary-hover-color) !important;
}

.project-link a {
  width: 100%;
  padding: 0.5em 0;
  color: #fff !important;
  font-size: 1.5em;
}

.project-details {
  margin-bottom: var(--bottom-margin);
  font-size: 1.5em;
}

.card-project {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 24px;
  box-shadow: 0 3px 10px var(--primary-shadow);
  padding: 2em;
  margin: 10px;
}

/* formulario de contact */
.contact {
  color: var(--primary-color);
  margin-top: 2rem;
  transition: var(--transition);
}

.contact h2 {
  text-align: center;
  margin-bottom: var(--bottom-margin-2);
}

.contact-form-container {
  max-width: 40.75rem;
  margin: 0 auto;
  padding: 0.938rem;
  border-radius: 5px;
  box-shadow: 0 3px 10px var(--secondary-shadow);
}

.contact-form-container label {
  line-height: 2.7em;
  font-weight: var(--bold-font);
  color: var(--primary-color);
  transition: var(--transition);
}

.contact-form-container textarea {
  min-height: 6.25rem;
  font-size: 14px;
}

.contact-form-container .input-field {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 2px outset var(--primary-color);
  font-size: 0.875rem;
  outline: none;
}

.input-field::placeholder {
  color: var(--primary-color);
  transition: var(--transition);
}

textarea {
  resize: none;
}

.submit-btn {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  color: #fff;
  background-color: var(--btn-color);
  border: 2px solid var(--btn-color);
  border-radius: 5px;
  font-size: 1rem;
  font-weight: var(--bold-font);
  transition: var(--transition);
}

.submit-btn:hover {
  background-color: var(--btn-color-hover);
  border: 2px solid var(--btn-color-hover);
  cursor: pointer;
}

/* iconos de redes social */
.social {
  display: flex;
  justify-content: center;
  gap: 0.7em;
}

.socicon {
  width: 5rem;
  height: 5rem;
  border-radius: 40px;
}

/* boton desplazarse hacia arriba */
.display-up {
  display: none;
  position: fixed;
  right: 0.5%;
  bottom: 3%;
  cursor: pointer;
  z-index: 9;
}

.display-up-fixed {
  display: flex;
}

.display-up:hover {
  animation: pulse;
  animation-duration: 1s;
}

.flecha-arriba {
  width: 3rem;
  height: 3rem;
}

/* footer */
footer {
  color: var(--primary-color);
  background-color: var(--bg-color);
  padding: 1.25rem;
  text-align: center;
  margin: 2rem 0 0;
  transition: var(--transition);
}
