/* ----------------------- dark/mode -----------------------*/
nav .switchers-container {
  z-index: 3;
  display: flex;
  flex-direction: row;
  align-items: center;
}

nav .switchers-container .darkmode-container {
  display: flex;
  margin: 1em;
  max-width: fit-content;
  position: relative;
}

/* crear el contenedor del check */
nav .switchers-container .darkmode-container label {
  width: 4rem;
  height: 1.5rem;
  display: block;
  background: var(--darkmodetoggle);
  border-radius: 200px;
  box-shadow: inset 0px 5px 15px rgb(127 127 127 / 40%),
    inset 0px -5px 15px rgb(237 237 237 / 40%);
  cursor: pointer;
  transition: 0.3s; /* para la animacion */
}

/* icons */
nav .switchers-container .darkmode-container label .sun,
nav .switchers-container .darkmode-container label .moon {
  position: absolute;
  z-index: 1;
  width: var(--size-switcher);
  height: var(--size-switcher);
}

nav .switchers-container .darkmode-container label .sun {
  top: 50%;
  transform: translateY(-50%);
  left: 5%;
  background-image: url("../icons/weather-sun-svgrepo-com.svg");
  background-size: cover;
}

nav .switchers-container .darkmode-container label .moon {
  top: 50%;
  transform: translateY(-50%);
  right: 5%;
  background-image: url("../icons/weather-moon-svgrepo-com.svg");
  background-size: cover;
}

/* crear el sol */
nav .switchers-container .darkmode-container label::after {
  content: "";
  width: var(--size-switcher);
  height: var(--size-switcher);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 5%;
  background: linear-gradient(180deg, #ffcc89, #d8860b);
  border-radius: 180px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  transition: 0.3s; /* para la animacion */
}

/* ocultar el input */
nav .switchers-container .darkmode-container input {
  width: 0;
  height: 0;
  visibility: hidden;
}

nav .switchers-container .darkmode-container input:checked + label {
  background: #242424;
}

/* estado para cuando está activado el darkmode */
nav .switchers-container .darkmode-container input:checked + label::after {
  left: 6rem;
  transform: translateX(-320%) translateY(-50%);
  background: linear-gradient(180deg, #b4b4b4, #707070);
}

/* ----------------------- End dark/mode -----------------------*/

/* ----------------------- Switch Language -----------------------*/

nav .switchers-container .language-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

nav .switchers-container .language-container .flag-options {
  position: absolute;
  right: 0;
  background-color: var(--bg-color2);
  border-radius: 8px;
  transform: translateY(3em);
  box-shadow: 0px 0px 5px 0px var(--primary-shadow);
  z-index: 5;
  display: none;
}

nav .switchers-container .language-container .flag-options .en:hover,
nav .switchers-container .language-container .flag-options .es:hover {
  cursor: pointer;
  border-radius: 8px;
  background-color: var(--bg-hover);
}

nav .switchers-container .language-container:hover {
  cursor: pointer;
}

nav .switchers-container .language-container:hover .flag-options {
  display: block;
}

nav .switchers-container .language-container .flag-options .en {
  width: var(--flag-size);
  height: var(--flag-size);
  padding: 0.5em 2em;
  background-size: var(--flag-size);
  background: var(--us-flag) no-repeat center/var(--flag-size);;
}

nav .switchers-container .language-container .flag-options .es {
  width: var(--flag-size);
  height: var(--flag-size);
  padding: 0.5em 2em;
  background: var(--es-flag) no-repeat center/var(--flag-size);;
}

nav .switchers-container .language-container .flag {
  width: var(--flag-size);
  height: var(--flag-size);
  background: var(--us-flag) no-repeat center;
}

nav .language-container .flag.spain {
  background: var(--es-flag) no-repeat center;
}

/* ----------------------- End Switch Language -----------------------*/

/* hero section */
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2.5em;
  /* espacio entre columnas */
  max-width: 75em;
  margin: auto;
}

.hero img {
  margin-top: 15em;
  margin-bottom: 15em;
  height: 30em;
  width: 40em;
  border-radius: 24px;
}

.bio {
  color: var(--primary-color);
  width: 25rem;
  padding: 0.625rem;
  border-radius: 6px;
  box-shadow: 0px 2px 15px 2px var(--primary-shadow);
  transition: var(--transition);
}

.bio h1 {
  margin-bottom: var(--bottom-margin);
}

.bio p {
  line-height: var(--line-height);
  padding: 0.3rem 0;
}

.dark-theme {
  background: var(--panel-dark) !important;
  box-shadow: none !important;
  transition: var(--transition);
}

.dark-theme input:not(.submit-btn), /* todos los input, excepto class=submit-btn */
.dark-theme textarea,
.dark-theme.card-project {
  background: var(--sub-panel-dark) !important;
  border: 0 !important;
}

/* mas sobre mi */
.more-about {
  color: var(--primary-color);
  background-color: var(--bg-color);
  padding: 1rem 6rem;
  transition: var(--transition);
}

.more-about h2 {
  margin-bottom: var(--bottom-margin);
  text-align: center;
}

.more-about p {
  line-height: var(--line-height);
  padding: 0.4rem;
}

.more-about .about-list {
  padding: 1rem 0 1rem 0;
}

.more-about .about-list ul {
  list-style-type: disc !important;
}

.more-about .link-work {
  color: var(--primary-color-link);
  font-weight: 600;
}

/* seccion skils */
.skils {
  color: var(--primary-color);
  max-width: 68.75rem;
  margin: auto;
  text-align: center;
  margin-top: 2.5rem;
  transition: var(--transition);
}

.encabezado-habilidad {
  margin-bottom: 1rem;
}

.contenedor-habilidad img {
  padding: 1.25rem;
}

.icon {
  width: 11.875rem;
  height: 11.25rem;
}

.icon-card {
  background-color: #fff;
  border-radius: 11px;
  box-shadow: 0 3px 10px var(--secondary-shadow);
  padding: 20px;
  margin: 10px;
}

/* usando la librería animate.css */
.icon-card:hover,
.up-arrow:hover {
  animation: pulse;
  /* referring directly to the animation's @keyframe declaration */
  animation-duration: 1s;
  /* don't forget to set a duration! */
  cursor: pointer;
}

/* section project */
.project {
  color: var(--primary-color);
  background-color: var(--bg-color);
  padding: 32px 0;
  margin-top: 2rem;
  transition: var(--transition);
}

.project-pic {
  width: 65%;
  height: 60%;
}

.projects-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-title {
  text-align: center;
  margin-bottom: 1rem;
}

.project-container {
  text-align: center;
  width: 21.875rem;
  padding: 1rem;
}

.project-container p {
  padding: 0.4rem;
}

.project-title {
  margin-bottom: var(--bottom-margin);
}

.project-details {
  margin-bottom: var(--bottom-margin);
}

.card-project {
  background-color: #fff;
  border-radius: 11px;
  box-shadow: 0 3px 10px var(--primary-shadow);
  padding: 20px;
  margin: 10px;
}

/* formulario de contact */
.contact {
  color: var(--primary-color);
  margin-top: 2rem;
  transition: var(--transition);
}

.contact h2 {
  text-align: center;
  margin-bottom: var(--bottom-margin-2);
}

.contact-form-container {
  max-width: 40.75rem;
  margin: 0 auto;
  padding: 0.938rem;
  border-radius: 5px;
  box-shadow: 0 3px 10px var(--secondary-shadow);
}

.contact-form-container label {
  line-height: 2.7em;
  font-weight: var(--bold-font);
  color: var(--primary-color);
  transition: var(--transition);
}

.contact-form-container textarea {
  min-height: 6.25rem;
  font-size: 14px;
}

.contact-form-container .input-field {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 2px outset var(--primary-color);
  font-size: 0.875rem;
  outline: none;
}

.input-field::placeholder {
  color: var(--primary-color);
  transition: var(--transition);
}

textarea {
  resize: none;
}

.submit-btn {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  color: #fff;
  background-color: var(--btn-color);
  border: 2px solid var(--btn-color);
  border-radius: 5px;
  font-size: 1rem;
  font-weight: var(--bold-font);
  transition: var(--transition);
}

.submit-btn:hover {
  background-color: var(--bg-color);
  border: 2px solid var(--primary-color);
  cursor: pointer;
}

/* iconos de redes social */
.social {
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 1%;
  bottom: 50%;
  z-index: 999;
}

.socicon {
  width: 5rem;
  height: 5rem;
  border-radius: 40px;
}

/* boton desplazarse hacia arriba */
.display-up {
  position: fixed;
  right: 0.5%;
  bottom: 3%;
  cursor: pointer;
}

.flecha-arriba {
  width: 3rem;
  height: 3rem;
}

/* footer */
footer {
  color: var(--primary-color);
  background-color: var(--bg-color);
  padding: 1.25rem;
  text-align: center;
  margin: 2rem 0 0;
  transition: var(--transition);
}
