/* Variables */
:root {
    --font-family: "Roboto", sans-serf;
    --normal-font: 400;
    --bold-font: 700;
    --bolder-font: 900;
    --bg-color: #e9f1fa;
    --bg-color2: #fafafa;
    --bg-hover: #6f6f6f4d;
    --bg-color-dark: #252525;
    --bg-color-dark2: #121212;
    --panel: #fff;
    --panel-dark: #252525;
    --sub-panel-dark: #444444;
    --primary-color: #009dff;
    --primary-hover-color: #00ccff;
    --primary-color-link: #007bff;
    --tool-color: #24ffbd;
    --tool-color-hover: #24ff3e87;
    --btn-color: #009dff;
    --btn-color-hover: #00c8ff;
    --primary-color-dark: #fff;
    --secondary-color: #7bacff;
    --primary-shadow: #8b8eaf;
    --secondary-shadow: #4a646d;
    --bottom-margin: 0.5rem;
    --bottom-margin-2: 4rem;
    --line-height: 2rem;
    --transition: 0.3s;
    --darkmodetoggle: #ebebeb;
    --moon-color: #fff;
    --sun-color: #7e7e7e;
    --size-switcher: 1em;
    --flag-size: 4em;
    --us-flag: url("../icons/usa_flag.svg");
    --es-flag: url("../icons/spain_flag.svg");
  }